.alert-warning{
   float: left;
   clear: both;
   width: 30%;
   margin: 5%;
   text-align: left;
   padding: 1%;
}

.card {
    border-radius: 10px;
    border: none;
}
.card-body {
    padding: 2rem;
}