{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="welcome_style.css">
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>Добро пожаловать!</h1>
                <h2>Мы рады вас видеть здесь. Исследуйте наше приложение, находите и делитесь тем, что вдохновляет и восхищает вас.</h2>
                <h2>Готовы начать?</h2>
                <a href="index.html">
                    <button type="button" class="btn">Начать</button>
                </a>
                
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>         