{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
      {% block form %}
        <form action="">
            <h1>Вход</h1>
            {%block username%}
               <div class="input-box">
                  <input type="text" placeholder="Username", name="Username" required>
                  <i class='bx bx-user' ></i>
               </div>
            {%endblock%}

            {%block password%}
               <div class="input-box">
                  <input type="Password" placeholder="Password", name="Password" required>
                  <i class='bx bxs-lock' ></i>    
               </div>
            {%endblock%}

            {%block button%}
               <button type="submit" class="btn">Войти</button>
               <div class="registration-link">
                  <p>У вас еще нет аккаунта? <a href="{% url 'index.html' %}">Зарегистрироваться</a></p>
               </div>
            {%endblock%}
        </form>
        {%endblock%}
    </div>
    <script>
        document.addEventListener(
              'DOMContentLoaded', () => {
            document.getElementById('btn').
                addEventListener('click', function () {
                    alert('Form submitted!');
                });
        });
    </script>
</body>
</html>