{% extends "mainstr/layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link type="text/css" rel="stylesheet" href="../ForPersonJavaScript/main.css">
   <link rel="icon" type="image/x-icon" href="../ForPersonJavaScript/Images/favicon.ico">
   {% block title %}
      ВСварочнойМаске
   {% endblock %}
</head>
<body class="body">

      {%block header%}
         <div class="titletext">
            <h1>ВСварочнойМаске</h1>
         </div>
      {%endblock%}

         {%block navigation%}
            <a class="news" href="/news"><p>Новости</p></a>
            <a class="forum" href="/forum"><p>Форум</p></a>
            <a class="about" href="/about"><p>О нас</p></a>
            <a class="authorization" href="/authorization"><p>Авторизация</p></a>
            <a class="btn btn-warning" href="/create_news"><p>Создать новость</p></a>
         {%endblock%}

      {%block firstnewsbar %}
         <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="mar_lik/60952" data-width="100%"></script>
      {%endblock%}
      
      {%block secondnewsbar%}
         <div class="tenor-gif-embed" data-postid="14785671275428921392" data-share-method="host" data-aspect-ratio="0.663265" data-width="10%"><a href="https://tenor.com/view/magic-horse-wise-horse-gambling-gambling-horse-all-knowing-horse-gif-14785671275428921392">Magic Horse Wise Horse GIF</a>from <a href="https://tenor.com/search/magic+horse-gifs">Magic Horse GIFs</a></div> 
         <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
         <div class="tenor-gif-embed" data-postid="15215084996821744530" data-share-method="host" data-aspect-ratio="1" data-width="15%"><a href="https://tenor.com/view/friesian-friesian-horses-horses-ukff-gif-15215084996821744530">Friesian Friesian Horses GIF</a>from <a href="https://tenor.com/search/friesian-gifs">Friesian GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
      {%endblock%}

</body>
</html>