.body{
   background-color: #FBFEF9;
}

.second_newsbar{
   background-color: #2a88bb;
   margin: 1% 1% 1% 1%;
   padding: 1% 2%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}