.slider {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.slide {
    display: none;
    animation: fade 1s ease-in-out;
}

.slide-link {
   color: rgb(28, 108, 139);
    text-decoration: none;
}

.slide.active {
    display: block;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}